{
  "parser": "babel-eslint",
  "plugins": ["prettier", "react", "jsx-a11y", "import"],
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/flowtype"
  ],
  "rules": {
    "quotes": ["error", "single"],
  }
}
